{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "quoteProps": "as-needed",
  "rcVerbose": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore"
}
